*
!target/
!target/quarkus-app/
!target/quarkus-app/**
!src/
!src/main/
!src/main/resources/
!src/main/resources/uploads/
!src/main/resources/uploads/profiles/
!src/main/resources/uploads/profiles/**
!keycloak/
!keycloak/**
