version: '3.8'
services:
  partyhub:
    container_name: quarkus-app
    image: eclipse-temurin:21-jdk
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      - QUARKUS_DATASOURCE_DB_KIND=postgresql
      - QUARKUS_DATASOURCE_USERNAME=demo
      - QUARKUS_DATASOURCE_PASSWORD=demo
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/demo
      - LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu
      - JNA_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu
      - OMP_THREAD_LIMIT=4
      - OMP_NUM_THREADS=4
    volumes:
      - ./target/quarkus-app/lib:/work/lib
      - ./target/quarkus-app/app:/work/app
      - ./target/quarkus-app/quarkus:/work/quarkus
      - ./target/quarkus-app:/work
    working_dir: /work
    command: ["java", "-Dquarkus.profile=dev", "-jar", "/work/quarkus-run.jar"]
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    container_name: postgres
    image: postgres:16-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=demo
      - POSTGRES_USER=demo
      - POSTGRES_DB=demo
    networks:
      - app-network

volumes:
  postgres:

networks:
  app-network:
    driver: bridge
