services:
  postgres:
    container_name: postgres
    image: postgres:16-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=demo
      - POSTGRES_USER=demo
      - POSTGRES_DB=demo
  keycloak:
      container_name: keycloak
      image: quay.io/keycloak/keycloak:24.0.5
      command: start-dev --import-realm
      environment:
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
#        KC_DB: jdbc:postgresql://postgres:5432/demo
        #KC_DB: postgres
        #KC_DB_SCHEMA: demo
        #KC_DB_URL=jdbc: postgresql://postgres:5432/demo
        #KC_DB_USERNAME: demo
        #KC_DB_PASSWORD: demo
        KC_DB: dev-file
      ports:
        - "8081:8080"
      volumes:
        - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
volumes:
  postgres:

