/* Base input reset */
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: text;
}

/* Form */
form[action="/api/party/add"] {
  width: 92%;
  max-width: 420px;
  margin: 18px auto;
  padding-top: 20px;
}

/* Name-Feld */
form[action="/api/party/add"] > input[type="text"]:first-of-type {
  display: block;
  margin: 8px auto 28px auto;
  width: 60%;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  padding: 4px 0 2px 0;
  color: white;
  font-family: luckiestGuy, sans-serif;
  font-size: 22px;
}

/* Alle anderen Inputs */
form[action="/api/party/add"] div input,
form[action="/api/party/add"] input[type="number"],
form[action="/api/party/add"] input[type="url"] {
  display: block;
  width: 80%;
  margin: 8px 0 40px 0;
  background: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  padding: 2px 0 2px 0;
  color: white;
  font-family: luckiestGuy, sans-serif;
  font-size: 18px;
}

/* Placeholder */
form[action="/api/party/add"] input::placeholder {
  color: rgba(255, 255, 255, 0.35);
  font-family: luckiestGuy, sans-serif;
  font-size: 20px;
}

/* Button */
form[action="/api/party/add"] button[type="submit"] {
  display: block;
  width: 80%;
  margin: 16px 0 40px 0;
  padding: 12px 10px;
  background: var(--secondary-color, #4f3b9a);
  color: white;
  border-radius: 10px;
  border: none;
  font-family: luckiestGuy, sans-serif;
  font-size: 18px;
}

/* Flatpickr Style */
.flatpickr-calendar {
  font-family: luckiestGuy, sans-serif;
}

.flatpickr-input {
  padding: 2px 0 2px 0 !important;
}
