<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.partyhub.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>partyhub</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppTransportSecurity - 2</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>it220274.cloud.htl-leonding.ac.at</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription - 2</key>
	<string>We need your location to automatically detect when you enter or leave a party.</string>
	<key>NSLocationWhenInUseUsageDescription - 2</key>
	<string>We need your location to show you parties nearby.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We will send you notifications about updates to your parties.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>processing</string>
		<string>push-to-talk</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
