@font-face {
  font-family: luckiestGuy;
  src: url(./fonts/LuckiestGuy-Regular.ttf);
}

main {
  margin: 0 auto;
  width: max-content;
  background-color: #1a1040;
  color: white;
}

body {
  background-color: #1a1040;
  color: white;
  font-family: luckiestGuy;
  margin: 20px;
  font-size: 200%;
}

input,
button {
  display: block;
  margin: 0.5rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}


/* Design for Labels */
input {
  background-color: #1a1040;
  color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: #ffffff solid 3px;
  padding-bottom: 5%;
  font-family: luckiestGuy;
  font-size: 100%;
}
